<h1>Complaint wizard</h1>
<h2>Step: Userinfo</h2>
<%= bootstrap_form_for @complaint, html: { multipart: true }, layout: :horizontal, :url => wizard_path, :as => :complaint do |f| %>
    <%= render 'partials/error_messages', object: f.object %>
      <%= f.text_field :r_fname, label: 'First Name', required: true%>
      <%= f.text_field :r_lname, label: 'Last Name', required: true  %>
      <%= f.number_field :r_age, label: 'Age', required: true  %>
      <%= f.form_group :r_gender, label: {text: 'Gender'} , help: 'Select your gender' do %>
          <%= f.radio_button :r_gender, 0, label: 'Male', inline: true, checked: true %>
          <%= f.radio_button :r_gender, 1, label: 'Female', inline: true %>
      <% end %>
      <%= f.email_field :r_email, label: 'Email', required: true  %>
      <%= f.phone_field :r_phone, label: 'Phone', required: true  %>
      <%= f.text_field :r_pincode, label: 'Pincode', required: true  %>
      <%= f.text_area :r_address, label: 'Address', size: '10x2', required: true  %>
      <%= f.file_field :r_photo, label: 'Photo', required: true  %>

    <%= render 'step_navigation', f: f %>
<% end %>
