<h2>Admin Login</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.email_field :email, label: :email, autofocus: true %>
    <%= f.password_field :password, label: :password, autocomplete: "off" %>

    <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, label: :remember_me %>
    <% end -%>

    <%= f.text_field :otp_code_token, placeholder: 'Token', class: 'form-control' %>

    <%= f.submit 'Login' %>
<% end %>

<%= render "admins/shared/links" %>
