<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? @page_title : 'Welcome' %> | Project DE</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %><span class="icon-bar"></span>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'partials/header' %>
<%= render 'partials/navbar' %>
<section>
  <div class="container">
    <div class="row">
      <% if notice %>
          <div class="alert alert-info"><%= raw(notice) %></div>
      <% end %>
      <% if alert %>
          <div class="alert alert-warning"><%= alert %></div>
      <% end %>
      <div class="col-md-8"><%= yield %></div>
      <div class="col-lg-4"> <%= render 'partials/sidebar' %></div>
    </div>
  </div>
</section>

<%= render 'partials/footer' %>

<!--script solution for bootstrap
 dropdown problem ref: https://stackoverflow.com/questions/12458522/bootstrap-dropdown-not-working#23985019 -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
</body>
</html>